@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    width: 50%;
    margin:auto;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    height: 6rem;
    display: flex;
    align-items: center;
    justify-items: center;
}

.cover{
    height: 33rem;
    display:flex;
    align-items: center;
    justify-content: center;
}

.timeline{
    height: 35rem;
    width: 65%;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote{
    width: 50%;
    height: 5rem;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.link{
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 640px) {
    header {
        width: 85%;
        height: 10rem;
    }

    .cover{
        height: 16rem;
        width: 85%;
        display:flex;
        margin:auto;
    }

    .timeline{
        height:fit-content;
    }
    .quote{
        width: 80%;
        height: 10rem;
    }
}